.modal {
  width: 40rem;
  left: calc((100% - 40rem) / 2);
  height: auto;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 25vh;
  display: block;
}

.modal__header {
  padding: 1rem;
  background: blue;
  color: white;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal__content {
  padding: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.form-control label, .form-control input, .form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
  width: 30%;
  text-align: center;
}

.form-control {
  margin-bottom: 1rem;
  height: 3rem;
  border: 0;
  display: flex;
}

.form-actions button, .btn {
  background: lightskyblue;
  font: inherit;
  border: 1px solid lightskyblue;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover, .form-actions button:active, .btn:hover, .btn:active {
  background: lightsteelblue;
  border-color: blue;
}

.radio-label__container {
  padding-left: 3rem;
}