.info__container {
  display:flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__title {
    text-align: center;
    font-family: Roboto;
    font-size:32px;
  }
}
