.info__container {
  display:flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__title {
    text-align: center;
    font-family: Roboto;
    font-size:32px;
  }
}

.tab-graph {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--blue);

  .tablinks { 
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
}
