.radio-group__container {
  display: flex;
}

.radio-group__button {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
.radio-group__input {
  width:100%;
}

.radio-group__button + label {
    float: left;
    padding: .5em 1em;
    cursor: pointer;
    border: 1px solid #3f51b5;
    margin-right: -1px;
    color: #fff;
    background-color: #3f51b59c;
    width: 100%;
    text-align: center;
}

.radio-group__button + .radio-group__input:first-of-type + label {
  border-radius: .7em 0 0 .7em;
}
    
.radio-group__button + .radio-group__input:last-of-type + label {
  border-radius: 0 .7em .7em 0;
}
  
.radio-group__button:checked + label {
    background-color: #3f51b5;
}

.form-text__container {
  padding: 0 2rem 2rem 2rem;
}