h1 {
  margin: 0;
}

.card-container {
  perspective: 800px;
  width: fit-content;
}

/* .card {
  position: relative;
  color: #fff;
  text-align: center;
  margin:1rem;
  width: 300px;
  height: 300px;
  transition: all 0.6s cubic-bezier(0.4, 0, 1, 1);
  transform-style: preserve-3d;
} */

/* .front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  backface-visibility: hidden;
}

.cardMedia{
  height: 200px;
}

.back{
  transform: rotateY(180deg);
}

.card:active {
  transform: rotateY(180deg);
} */