.email__message-sent {
  text-align: center;
  color: green;
}

.email__message-not-sent {
  text-align: center;
  color: red;
}

.landing-page-container {
  width: 100%;
  margin: 0;
  padding: -24px;
}