.landing-page {
  background-image: url("../../assets/images/meal.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.landing-page__container{
  /*width:30%;*/
  /*width: 500px;*/
  /*height: 220px;*/
  display: flex;
  flex-direction: column;
  opacity: 100%;
}

.full-logo {
  /*height: 220px;*/
  width: 400px;
  opacity: 100%;
}

.landing-page__meal-box {
  /*background-color: rgba(255, 255, 255, 0.626);*/
  /*border-radius: 3%;*/
  /*width: 100%;*/
  /*box-shadow: #3f51b5 2px 5px;*/
  /*text-align: center;*/
  background-color: var(--dark);
  opacity: 90%;
  border-radius: 5px;
  padding: 10px;
}

.landing-page__user-auth {
  margin-top: 10px;
  width: 100%;
  display:flex;
  /*height: 3rem;*/
}

.btn-primary {
  /*height: 36.5px;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*border-radius: 5px;*/
  /*font-size: .875rem;*/
  /*display: inline-block;*/
  /*width: 100% !important;*/
}

.btn-primary:hover {
  background-color: var(--dark);
}

.auth-btn {
  font-weight: bold;
  border-radius: 3%;
  border: 1px solid rgba(255, 255, 255, 0.626);
  color:whitesmoke;
  width:100%;
  background-color: #3f51b59c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-btn:hover {
  background-color: #3f51b5;
  color: whitesmoke;
  text-decoration: none;
}

.email-container {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*background-color: #262833 !important;*/
  /*color: #fff;*/
  border-radius: 5px !important;
}

.MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth {
  background-color: white;
}

.MuiButtonBase-root {
  margin-top: 5px;
}

.landing-page__contact-us {
  display: flex;
  justify-content: center;
}